<!DOCTYPE html>
<html>
  <head>
    <title>FizzBuzz Home</title>
    <div id='navbar'><a href='/'>Home</a><a href='/projects'>Projects</a></div>
  </head>

  <body>

    <h1>FizzBuzz</h1>

    <div id="welcome">
      <p>Welcome to the FizzBuzz Route</p>
    </div>

    <div id="explanation">
      <h2>Explanation</h2>
      <p> FizzBuzz is a simple beginners' coding challenge.
          The program takes two numbers between 1 and 9 as arguments, as well as a range within which the program is executed.
          The point is to return 'Fizz' every time a number is a multiple of the lower number and 'Buzz' if a number is a multiple of the higher number.
          If a number is a multiple of both the lower and higher number, the program returns 'FizzBuzz'.
      </p>
    </div>

    <div id="try_it">
      <h2>Try it</h2>
    </div>

    <div id="functionality">
      <form id="fizzbuzz_input">
        <label for="lower_limit">Test Range</label>
        <input type="text" name="lower_limit" placeholder="Lower Limit">
        <input type="text" name="upper_limit" placeholder="Upper Limit">
        <br><label for="lower_value">Test Values</label>
        <input type="text" name="lower_value" placeholder="Lower Value">
        <input type="text" name="upper_value" placeholder="Upper Value">
        <br><input type="submit" name="fizzbuzz_submit" value="Run Fizzbuzz">
      </form>
    </div>

  </body>
<html>
