<!DOCTYPE html>
<html>
  <head>
    <title>FizzBuzz Home</title>
    <div id='navbar'><a href='/'>Home</a><a href='/projects'>Projects</a></div>
  </head>

  <body>

    <h1>FizzBuzz</h1>

    <div id="welcome">
      <p>Welcome to the FizzBuzz Route</p>
    </div>

    <div id="explanation">
      <h2>Explanation</h2>
      <p> FizzBuzz is a simple beginners' coding challenge.
          The program takes two numbers between 1 and 9 as arguments, as well as a range within which the program is executed.
          The point is to return 'Fizz' every time a number is a multiple of the lower number and 'Buzz' if a number is a multiple of the higher number.
          If a number is a multiple of both the lower and higher number, the program returns 'FizzBuzz'.
      </p>
    </div>

    <div id="try_it">
      <h2>Try it</h2>
    </div>

    <div id="functionality">
      <form id="fizzbuzz_input" action="/projects/fizzbuzz" method="post">
        <label for="lower_limit">Test Range</label>
        <input type="text" name="lower_limit" placeholder="Lower Limit" id="fizzbuzz_lower_limit">
        <input type="text" name="upper_limit" placeholder="Upper Limit" id="fizzbuzz_upper_limit">
        <br><label for="lower_value">Test Values</label>
        <input type="text" name="lower_value" placeholder="Lower Value" id="fizzbuzz_lower_value">
        <input type="text" name="upper_value" placeholder="Upper Value" id="fizzbuzz_upper_value">
        <br><input type="submit" name="fizzbuzz_submit" value="Run FizzBuzz" id="fizzbuzz_submit_button">
      </form>
    </div>

    <div id="results">
      <% if @html_display %>
        <%= @html_display %>
      <% else %>
        <%= "<h3>Your result will appear here</h3>" %>
      <%end%>
    </div>

  </body>
<html>
