<!DOCTYPE html>
<html>
  <header>
    <title>Hendrik's Ruby Page</title>
    <div id="navbar"><a href="/projects">Projects<a/></div>
  </header>

  <body>

    <h1>Hendrik Geiger's Ruby Page</h1>

    <div id="welcome">
      <p>Welcome to my website</p>
    </div>

    <div id="explanation">
      <h2>Explanation</h2>

      <p>
        I created this website to illustrate my skills and competencies as a web-developer.
        The site is coded entirely in pure-vanilla ruby and displays a couple of challenges and smaller programs that I coded.
        Some of these stem directly from the Makers Academy intensive coding boot camp, others stem from my own design;
        some will be a mixture. The difficulty of these challenges will range from easy and beginner level
        to some slightly more advanced content.
      </p>

      <p>
        I use varying technologies from the Ruby stack to run this page. Involved are gems such as capybara, sinatra rackup and rspec.
        The whole page is thuroughly feature and unit tested and was created entirely through good test driven development (TDD) practice.
        Pretty much the same exact page (or similar) exists in javascript as well. You can find this page here.
      </p>
    </div>

    <div id="try_it">
    </div>

    <div id="functionality">
    </div>

  </body>
<html>
