<!DOCTYPE html>
<html>
  <header>
    <title>Hendrik's Ruby Page</title>
    <div id="navbar"><a href="/">Home<a/></div>
  </header>

  <body>

    <h1>Projects</h1>

    <div id="welcome">
      <p>Welcome to my projects page</p>
    </div>

    <div id="explanation">
      <h2>Explanation</h2>

      <p>
        Here you will find a list of projects and challenges that I have worked on so far.
        Every project is written in ruby. Some are incredibly easy. Some are a bit harder.
        Each project, however, is fully tested in rspec and was written using thurough TDD practices.
      </p>
    </div>

    <div id="links">
      <h3><a href="/projects/fizzbuzz">FizzBuzz</a></h3>
    </div>

    <div id="functionality">
    </div>

  </body>
<html>
